In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [54]:
df = pd.read_csv("NSMES1988.csv")

In [55]:
df.head(100)

,Unnamed: 0,visits,nvisits,ovisits,novisits,emergency,hospital,health,chronic,adl,region,age,gender,married,school,income,employed,insurance,medicaid
0,1,5,0,0,0,0,1,average,2,normal,other,6.9,male,yes,6,2.8810,yes,yes,no
1,2,1,0,2,0,2,0,average,2,normal,other,7.4,female,yes,10,2.7478,no,yes,no
2,3,13,0,0,0,3,3,poor,4,limited,other,6.6,female,no,10,0.6532,no,no,yes
3,4,16,0,5,0,1,1,poor,2,limited,other,7.6,male,yes,3,0.6588,no,yes,no
4,5,3,0,0,0,0,0,average,2,limited,other,7.9,female,yes,6,0.6588,no,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,29,0,1,0,0,1,poor,4,limited,other,8.6,female,no,6,0.7179,no,yes,no
96,97,8,0,0,0,0,1,average,2,normal,other,8.0,male,yes,12,5.1904,no,yes,no
97,98,4,0,1,0,1,1,average,2,normal,other,7.4,female,yes,12,5.1904,no,yes,no
98,99,1,3,0,0,0,0,excellent,3,normal,other,7.4,male,yes,12,13.6982,no,yes,no
99,100,8,19,0,0,0,0,excellent,2,normal,other,7.4,female,yes,12,13.6982,no,yes,no

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4406 non-null   int64
 1   visits      4406 non-null   int64
 2   nvisits     4406 non-null   int64
 3   ovisits     4406 non-null   int64
 4   novisits    4406 non-null   int64
 5   emergency   4406 non-null   int64
 6   hospital    4406 non-null   int64
 7   health      4406 non-null   object
 8   chronic     4406 non-null   int64
 9   adl         4406 non-null   object
 10  region      4406 non-null   object
 11  age         4406 non-null   float64
 12  gender      4406 non-null   object
 13  married     4406 non-null   object
 14  school      4406 non-null   int64
 15  income      4406 non-null   float64
 16  employed    4406 non-null   object
 17  insurance   4406 non-null   object
 18  medicaid    4406 non-null   object
dtypes: float64(2), int64(9), object(8)
memory usage: 654.1+ KB

In [57]:
numeric_cols = df.select_dtypes(include=['number']).columns.tolist()
df[numeric_cols].max()

Unnamed: 0    4406.0000
visits          89.0000
nvisits        104.0000
ovisits        141.0000
novisits       155.0000
emergency       12.0000
hospital         8.0000
chronic          8.0000
age             10.9000
school          18.0000
income          54.8351
dtype: float64

In [58]:
numeric_cols = df.select_dtypes(include=['int']).columns.tolist()
float_cols = df.select_dtypes(include=['float']).columns.tolist()

print(numeric_cols)
print(float_cols)

['Unnamed: 0', 'visits', 'nvisits', 'ovisits', 'novisits', 'emergency', 'hospital', 'chronic', 'school']
['age', 'income']

In [59]:
for colname in numeric_cols:
    df[colname] = df[colname].astype("int16")

for colname in float_cols:
    df[colname] = df[colname].astype("float32")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4406 non-null   int16
 1   visits      4406 non-null   int16
 2   nvisits     4406 non-null   int16
 3   ovisits     4406 non-null   int16
 4   novisits    4406 non-null   int16
 5   emergency   4406 non-null   int16
 6   hospital    4406 non-null   int16
 7   health      4406 non-null   object
 8   chronic     4406 non-null   int16
 9   adl         4406 non-null   object
 10  region      4406 non-null   object
 11  age         4406 non-null   float32
 12  gender      4406 non-null   object
 13  married     4406 non-null   object
 14  school      4406 non-null   int16
 15  income      4406 non-null   float32
 16  employed    4406 non-null   object
 17  insurance   4406 non-null   object
 18  medicaid    4406 non-null   object
dtypes: float32(2), int16(9), object(8)
memory usage: 387.4+ KB

In [60]:
df.rename(columns={"visits":"dr_visits","nvisits":"non_dr_visits","ovisits":"out_pat_dr_visits"},inplace=True)
df.rename(columns={"novisits":"out_pat_non_dr_visits","emergency":"er_visits","health":"self_health_assessment"},inplace=True)

In [61]:
obj_cols = df.select_dtypes(include=['object']).columns.tolist()

In [62]:
for column_name in obj_cols:
    if df[column_name].nunique() == 2 and column_name != "gender":
        df[column_name] = df[column_name].replace({"yes":True,"no":False,"normal":False,"limited":True})
        df[column_name] = df[column_name].astype("bool")
        
df.head(100)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 19 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              4406 non-null   int16
 1   dr_visits               4406 non-null   int16
 2   non_dr_visits           4406 non-null   int16
 3   out_pat_dr_visits       4406 non-null   int16
 4   out_pat_non_dr_visits   4406 non-null   int16
 5   er_visits               4406 non-null   int16
 6   hospital                4406 non-null   int16
 7   self_health_assessment  4406 non-null   object
 8   chronic                 4406 non-null   int16
 9   adl                     4406 non-null   bool
 10  region                  4406 non-null   object
 11  age                     4406 non-null   float32
 12  gender                  4406 non-null   object
 13  married                 4406 non-null   bool
 14  school                  4406 non-null   int16
 15  income                  4406 non-null   float32
 16  employed                4406 non-null   bool
 17  insurance               4406 non-null   bool
 18  medicaid                4406 non-null   bool
dtypes: bool(5), float32(2), int16(9), object(3)
memory usage: 236.8+ KB

C:\Users\simsk\AppData\Local\Temp\ipykernel_21564\2366063027.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column_name] = df[column_name].replace({"yes":True,"no":False,"normal":False,"limited":True})
C:\Users\simsk\AppData\Local\Temp\ipykernel_21564\2366063027.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column_name] = df[column_name].replace({"yes":True,"no":False,"normal":False,"limited":True})
C:\Users\simsk\AppData\Local\Temp\ipykernel_21564\2366063027.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column_name] = df[column_name].replace({"yes":True,"no":False,"normal":False,"limited":True})
C:\Users\simsk\AppData\Local\Temp\ipykernel_21564\2366063027.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column_name] = df[column_name].replace({"yes":True,"no":False,"normal":False,"limited":True})
C:\Users\simsk\AppData\Local\Temp\ipykernel_21564\2366063027.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[column_name] = df[column_name].replace({"yes":True,"no":False,"normal":False,"limited":True})

1. Recommend renaming the columns to more descriptive title.
2. Based on max values for columns of type integer, all integer columns should be resized to in16
3. Based on max values for columns of type float, all float columns should be resized to float32
4. Change columns with 2 unique values to boolean types.  Note: Gender while in the data set is expressed as a binary choice, because of the floating political views of gender will be maintained as an object.

# Incremental Capstone 3

In [63]:
df.head(100)

,Unnamed: 0,dr_visits,non_dr_visits,out_pat_dr_visits,out_pat_non_dr_visits,er_visits,hospital,self_health_assessment,chronic,adl,region,age,gender,married,school,income,employed,insurance,medicaid
0,1,5,0,0,0,0,1,average,2,False,other,6.9,male,True,6,2.8810,True,True,False
1,2,1,0,2,0,2,0,average,2,False,other,7.4,female,True,10,2.7478,False,True,False
2,3,13,0,0,0,3,3,poor,4,True,other,6.6,female,False,10,0.6532,False,False,True
3,4,16,0,5,0,1,1,poor,2,True,other,7.6,male,True,3,0.6588,False,True,False
4,5,3,0,0,0,0,0,average,2,True,other,7.9,female,True,6,0.6588,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,29,0,1,0,0,1,poor,4,True,other,8.6,female,False,6,0.7179,False,True,False
96,97,8,0,0,0,0,1,average,2,False,other,8.0,male,True,12,5.1904,False,True,False
97,98,4,0,1,0,1,1,average,2,False,other,7.4,female,True,12,5.1904,False,True,False
98,99,1,3,0,0,0,0,excellent,3,False,other,7.4,male,True,12,13.6982,False,True,False
99,100,8,19,0,0,0,0,excellent,2,False,other,7.4,female,True,12,13.6982,False,True,False

In [64]:
df.columns.to_list()

['Unnamed: 0',
 'dr_visits',
 'non_dr_visits',
 'out_pat_dr_visits',
 'out_pat_non_dr_visits',
 'er_visits',
 'hospital',
 'self_health_assessment',
 'chronic',
 'adl',
 'region',
 'age',
 'gender',
 'married',
 'school',
 'income',
 'employed',
 'insurance',
 'medicaid']

 
 'dr_visits', numerical, discrete, ordinal
 
 'non_dr_visits', numerical, discrete, ordinal

 'out_pat_dr_visits', numerical, discrete, ordinal

 'out_pat_non_dr_visits', numerical, discrete, ordinal

 'er_visits', numerical, discrete, ordinal

 'hospital', numerical, discrete, ordinal
 
 'self_health_assessment', categorical, discrete, ordinal

 'chronic', numerical, discrete, ordinal 

 'adl', categorical, discrete, nominal

 'region', categorical, discrete, nominal

 'age', numerical, continuous, ordinal

 'gender', categorical, discrete, nominal

 'married', categorical, discrete, nominal

 'school',  categorical, discrete, ordinal

 'income',numerical, continuous, ordinal

 'employed', categorical, discrete, nominal

 'insurance',  categorical, discrete, nominal

 'medicaid',  categorical, discrete, nominal

Visits analysis

In [ ]:
#Correct bad income data.  Any data <0 is set to 0.
df['income'] = df['income'].where(df['income'] >= 0, 0)

In [ ]:
#Visit stats
visits = ["dr_visits","non_dr_visits","out_pat_dr_visits","out_pat_dr_visits","er_visits","er_visits","hospital"]
agg_1 = df[visits].agg(["mean","median"])

print(agg_1.transpose())

                       mean  median  min
dr_visits          5.774399     4.0  0.0
non_dr_visits      1.618021     0.0  0.0
out_pat_dr_visits  0.750794     0.0  0.0
out_pat_dr_visits  0.750794     0.0  0.0
er_visits          0.263504     0.0  0.0
er_visits          0.263504     0.0  0.0
hospital           0.295960     0.0  0.0

In [ ]:
cat_stats = ["gender","married","employed","insurance","medicaid"]
for cat in cat_stats:
    value_cnt = df[cat].value_counts()
    print(value_cnt)
    print()

gender
female    2628
male      1778
Name: count, dtype: int64

married
True     2406
False    2000
Name: count, dtype: int64

employed
False    3951
True      455
Name: count, dtype: int64

insurance
True     3421
False     985
Name: count, dtype: int64

medicaid
False    4004
True      402
Name: count, dtype: int64

In [ ]:
#Education level and Income Stats
linear_data = ["school","income"]
agg_1 = df[linear_data].agg(["mean","median"])

print(agg_1.transpose())

             mean    median
school  10.290286  11.00000
income   2.527777   1.69815

In [69]:
# Distribution of age separated by gender
age_gen_stats = df.groupby(["age","gender"]).size().unstack(fill_value=0)
print(age_gen_stats)

print(df.groupby("gender")["age"].agg(["min","mean","max"]))

gender  female  male
age
6.6        190   160
6.7        198   140
6.8        173   123
6.9        162   131
7.0        174   117
7.1        154   115
7.2        158   123
7.3        156    97
7.4        141   108
7.5        127    87
7.6        143    67
7.7        118    78
7.8        114    69
7.9         84    63
8.0         66    44
8.1         75    42
8.2         71    45
8.3         74    35
8.4         51    22
8.5         32    32
8.6         34    23
8.7         24     9
8.8         27     6
8.9         21     7
9.0         14     9
9.1         11     9
9.2          8     5
9.3          7     5
9.4          8     1
9.5          5     2
9.6          3     2
9.7          2     0
9.8          0     1
9.9          1     0
10.2         1     1
10.9         1     0
        min      mean   max
gender
female  6.6  7.432040  10.9
male    6.6  7.358605  10.2

In [70]:
# Distribution of health status separated by age
age_health_stats = df.groupby(["age","self_health_assessment"]).size().unstack(fill_value=0)
print(age_health_stats)

self_health_assessment  average  excellent  poor
age
6.6                         272         43    35
6.7                         277         30    31
6.8                         242         24    30
6.9                         236         21    36
7.0                         237         30    24
7.1                         222         23    24
7.2                         227         18    36
7.3                         218         13    22
7.4                         202         18    29
7.5                         173         18    23
7.6                         166         15    29
7.7                         153          9    34
7.8                         143         19    21
7.9                         115         14    18
8.0                          86          8    16
8.1                          90         10    17
8.2                          83          6    27
8.3                          82          4    23
8.4                          55          3    15
8.5                          49          2    13
8.6                          38          3    16
8.7                          26          1     6
8.8                          26          1     6
8.9                          21          2     5
9.0                          18          0     5
9.1                          18          0     2
9.2                           9          3     1
9.3                           9          0     3
9.4                           5          2     2
9.5                           4          1     2
9.6                           3          1     1
9.7                           2          0     0
9.8                           0          0     1
9.9                           1          0     0
10.2                          0          1     1
10.9                          1          0     0

In [71]:
# Distribution of income by gender
income_gender_stats = df.groupby("gender")["income"].agg(["min","mean","max"])
print(income_gender_stats)

        min      mean        max
gender
female  0.0  2.249733  54.835098
male    0.0  2.938745  54.835098

In [72]:
# Distribution of income by region
region_income_stats = df.groupby("region")["income"].agg(["min","mean","max"])
print(region_income_stats)

           min      mean        max
region
midwest    0.0  2.513634  54.835098
northeast  0.0  2.679709  41.759602
other      0.0  2.167538  36.002399
west       0.0  3.117530  24.216101

In [73]:
# Distribution of income by age
age_income_stats = df.groupby("age")["income"].agg(["min","mean","max"])
print(age_income_stats)

         min      mean        max
age
6.6   0.0000  3.042564  23.027201
6.7   0.0000  3.034023  36.002399
6.8   0.0014  2.594223  18.662100
6.9   0.0000  2.385208  15.755000
7.0   0.0000  2.590728  24.216101
7.1   0.0000  2.581596  13.800500
7.2   0.2663  2.581044  15.755000
7.3   0.0000  2.712746  54.835098
7.4   0.0000  2.713855  54.835098
7.5   0.0000  2.501961  41.759602
7.6   0.0000  2.286512  41.759602
7.7   0.0000  2.339260  18.279400
7.8   0.0000  2.166411  17.516600
7.9   0.0155  2.364253  23.017900
8.0   0.1261  2.399528  23.017900
8.1   0.0000  1.785111  10.092800
8.2   0.3480  2.217040  10.092800
8.3   0.0000  2.068455  20.180000
8.4   0.0000  1.538986  10.289200
8.5   0.3996  2.610395  16.628901
8.6   0.2940  2.072015  10.510000
8.7   0.0453  2.859715  20.496000
8.8   0.0816  1.824794   6.881100
8.9   0.3333  3.302177  14.647700
9.0   0.3972  2.565669   8.704800
9.1   0.3000  2.432705   6.592300
9.2   0.4320  2.589015   7.247100
9.3   0.4560  1.658374   4.158692
9.4   0.3960  3.035878  10.215400
9.5   0.3984  2.175756   4.158692
9.6   0.5350  2.213080   3.432600
9.7   0.4085  1.485028   2.561556
9.8   0.3168  0.316800   0.316800
9.9   3.6795  3.679500   3.679500
10.2  1.2348  1.498350   1.761900
10.9  1.6400  1.640000   1.640000