In [81]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [82]:
df = pd.read_csv("data_files/NSMES1988new.csv")

In [83]:
df.head(100)

,Unnamed: 0,visits,nvisits,ovisits,novisits,emergency,hospital,health,chronic,adl,region,age,gender,married,school,income,employed,insurance,medicaid
0,1,5,0,0,0,0,1,average,2,normal,other,6.9,male,yes,6,2.8810,yes,yes,no
1,2,1,0,2,0,2,0,average,2,normal,other,7.4,female,yes,10,2.7478,no,yes,no
2,3,13,0,0,0,3,3,poor,4,limited,other,6.6,female,no,10,0.6532,no,no,yes
3,4,16,0,5,0,1,1,poor,2,limited,other,7.6,male,yes,3,0.6588,no,yes,no
4,5,3,0,0,0,0,0,average,2,limited,other,7.9,female,yes,6,0.6588,no,yes,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,29,0,1,0,0,1,poor,4,limited,other,8.6,female,no,6,0.7179,no,yes,no
96,97,8,0,0,0,0,1,average,2,normal,other,8.0,male,yes,12,5.1904,no,yes,no
97,98,4,0,1,0,1,1,average,2,normal,other,7.4,female,yes,12,5.1904,no,yes,no
98,99,1,3,0,0,0,0,excellent,3,normal,other,7.4,male,yes,12,13.6982,no,yes,no
99,100,8,19,0,0,0,0,excellent,2,normal,other,7.4,female,yes,12,13.6982,no,yes,no

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4406 non-null   int64
 1   visits      4406 non-null   int64
 2   nvisits     4406 non-null   int64
 3   ovisits     4406 non-null   int64
 4   novisits    4406 non-null   int64
 5   emergency   4406 non-null   int64
 6   hospital    4406 non-null   int64
 7   health      4406 non-null   object
 8   chronic     4406 non-null   int64
 9   adl         4406 non-null   object
 10  region      4406 non-null   object
 11  age         4406 non-null   float64
 12  gender      4406 non-null   object
 13  married     4406 non-null   object
 14  school      4406 non-null   int64
 15  income      4406 non-null   float64
 16  employed    4406 non-null   object
 17  insurance   4406 non-null   object
 18  medicaid    4406 non-null   object
dtypes: float64(2), int64(9), object(8)
memory usage: 654.1+ KB

In [85]:
numeric_cols = df.select_dtypes(include=['number']).columns.tolist()
df[numeric_cols].max()

Unnamed: 0    4406.0000
visits          89.0000
nvisits        104.0000
ovisits        141.0000
novisits       155.0000
emergency       12.0000
hospital         8.0000
chronic          8.0000
age             10.9000
school          18.0000
income          54.8351
dtype: float64

In [86]:
numeric_cols = df.select_dtypes(include=['int']).columns.tolist()
float_cols = df.select_dtypes(include=['float']).columns.tolist()
obj_cols = df.select_dtypes(include=['object']).columns.tolist()


print(numeric_cols)
print(float_cols)
print(obj_cols)

['Unnamed: 0', 'visits', 'nvisits', 'ovisits', 'novisits', 'emergency', 'hospital', 'chronic', 'school']
['age', 'income']
['health', 'adl', 'region', 'gender', 'married', 'employed', 'insurance', 'medicaid']

In [87]:
for colname in numeric_cols:
    df[colname] = df[colname].astype("int16")

for colname in float_cols:
    df[colname] = df[colname].astype("float32")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4406 entries, 0 to 4405
Data columns (total 19 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4406 non-null   int16
 1   visits      4406 non-null   int16
 2   nvisits     4406 non-null   int16
 3   ovisits     4406 non-null   int16
 4   novisits    4406 non-null   int16
 5   emergency   4406 non-null   int16
 6   hospital    4406 non-null   int16
 7   health      4406 non-null   object
 8   chronic     4406 non-null   int16
 9   adl         4406 non-null   object
 10  region      4406 non-null   object
 11  age         4406 non-null   float32
 12  gender      4406 non-null   object
 13  married     4406 non-null   object
 14  school      4406 non-null   int16
 15  income      4406 non-null   float32
 16  employed    4406 non-null   object
 17  insurance   4406 non-null   object
 18  medicaid    4406 non-null   object
dtypes: float32(2), int16(9), object(8)
memory usage: 387.4+ KB

In [88]:
df.rename(columns={"visits":"dr_visits","nvisits":"non_dr_visits","ovisits":"out_pat_dr_visits"},inplace=True)
df.rename(columns={"novisits":"out_pat_non_dr_visits","emergency":"er_visits","health":"self_health_assessment"},inplace=True)

In [ ]:
for column_name in obj_cols:
    if df[column_name].nunique() == 2 and column_name != "gender":
        df[column_name] = df[column_name].replace({"yes":True,"no":False,"normal":False,"limited":True}).astype("bool")
        
df.head(100)
df.info()

1. Recommend renaming the columns to more descriptive title.
2. Based on max values for columns of type integer, all integer columns should be resized to in16
3. Based on max values for columns of type float, all float columns should be resized to float32
4. Change columns with 2 unique values to boolean types.  Note: Gender while in the data set is expressed as a binary choice, because of the floating political views of gender will be maintained as an object.