# Lesson 22 activity: unsupervised learning

## Notebook setup

### Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Dataset

In [2]:
df = pd.read_csv('housing.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0

## Task 1: prepare data for clustering

Prepare the housing dataset for k-means clustering by completing the following steps:

- Check for and handle any missing values in the dataset
- Standardize the features using `StandardScaler` to ensure all variables are on the same scale

In [3]:
# Your code here

## Task 2: cluster data with k-means

Apply k-means clustering to the prepared data:

- Use the elbow method to determine the optimal number of clusters (k)
  - Test k values from 2 to 10
  - Plot the within-cluster sum of squares (inertia) for each k value
  - Choose an appropriate k value based on the elbow in the plot
- Fit a `KMeans` model with the chosen k value using `random_state=315`
- Add the cluster labels as a new column to the original dataframe
- Create a visualization to show the distribution of data points across clusters

**Hints:**
- The `inertia_` attribute of a fitted KMeans model gives you the within-cluster sum of squares
- A simple loop can help you test multiple k values and store their inertia values
- Use `sklearn.manifold.TSNE` to collapse the features into two dimensions for plotting

In [4]:
# Your code here

## Task 3: train a supervised model to assign cluster membership

Build a supervised learning model that can predict cluster assignments for new data:

- Split the data into training and testing sets`
- Use the scaled features from task 1 as the input and the cluster labels from task 2 as the label
- Train a classification model (such as `RandomForestClassifier` or `LogisticRegression`) to predict cluster membership
- Evaluate the model's performance on the test set using appropriate metrics (F1 score, precision, recall, confusion matrix)

In [5]:
# Your code here