In [122]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
import numpy as np

df = pd.read_csv("user_ratings.csv")
df

           BGGId  Rating       Username
0         213788     8.0      Tonydorrf
1         213788     8.0     tachyon14k
2         213788     8.0       Ungotter
3         213788     8.0    brainlocki3
4         213788     8.0           PPMP
...          ...     ...            ...
18942210  165521     3.0        rseater
18942211  165521     3.0      Bluefox86
18942212  165521     3.0     serginator
18942213  193488     1.0  CaptainCattan
18942214  193488     1.0      trodat123

[18942215 rows x 3 columns]

In [123]:
le = LabelEncoder()
le.fit_transform(df['Username'])

array([195785, 385050, 200126, ..., 371648,  30181, 394601],
      shape=(18942215,))

In [124]:
df['Username_Encoded'] = le.transform(df['Username'])

In [125]:
# Depcting that 'Tonydorrf' has a specific encoded value with multiple Board Game Reviews
df.where(df['Username'] == 'Tonydorrf').dropna()

             BGGId  Rating   Username  Username_Encoded
0         213788.0     8.0  Tonydorrf          195785.0
103768    206593.0     8.0  Tonydorrf          195785.0
147923    267333.0     7.0  Tonydorrf          195785.0
171368    249824.0     6.0  Tonydorrf          195785.0
184232    301085.0     6.0  Tonydorrf          195785.0
...            ...     ...        ...               ...
18801954  252314.0     7.0  Tonydorrf          195785.0
18826671  176247.0     8.0  Tonydorrf          195785.0
18901732  259857.0     7.0  Tonydorrf          195785.0
18905081  246530.0     7.0  Tonydorrf          195785.0
18911669   89222.0     2.0  Tonydorrf          195785.0

[253 rows x 4 columns]

In [126]:
df['Username_Encoded'] = df['Username_Encoded'].astype(np.int32)
df['Rating'] = df['Rating'].astype(np.int16)
df['BGGId'] = df['BGGId'].astype(np.int32)
df.dtypes

BGGId                int32
Rating               int16
Username            object
Username_Encoded     int32
dtype: object

In [127]:
df

           BGGId  Rating       Username  Username_Encoded
0         213788       8      Tonydorrf            195785
1         213788       8     tachyon14k            385050
2         213788       8       Ungotter            200126
3         213788       8    brainlocki3            236689
4         213788       8           PPMP            144112
...          ...     ...            ...               ...
18942210  165521       3        rseater            365759
18942211  165521       3      Bluefox86             22977
18942212  165521       3     serginator            371648
18942213  193488       1  CaptainCattan             30181
18942214  193488       1      trodat123            394601

[18942215 rows x 4 columns]

In [128]:
# Randomly select .1% of the data, in stretches of consecutive BGGId values
df_sampled = df.groupby('BGGId').apply(lambda x: x.sample(frac=0.001, random_state=42)).reset_index(drop=True)

#df_sampled = df.sample(frac=0.01, random_state=42)
df_sampled

/var/folders/tw/7t5t3x_11sqflkfn0yxds1lr0000gq/T/ipykernel_4739/3299505638.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_sampled = df.groupby('BGGId').apply(lambda x: x.sample(frac=0.001, random_state=42)).reset_index(drop=True)

        BGGId  Rating        Username  Username_Encoded
0           1       9    thedirtyhamm            388576
1           1       7     RocketSkunk            161894
2           1       6      Craigthulu             38438
3           1       9       Lassonius            108428
4           1       7       rainian44            358660
...       ...     ...             ...               ...
17115  338628       7         magnitt            323191
17116  340466       7  Bayushi Sezaru             18065
17117  342942       9      DoctorPhil             50091
17118  343905       8   LanceCorporal            107914
17119  346703       8           VG182            200834

[17120 rows x 4 columns]

In [129]:
# Save the sampled data to a new CSV file
df_sampled.to_csv("user_ratings_sampled.csv", index=False)

# Create a recommendation System that:
- Recommend *New* BoardGameIDs to a User
    - Inputs a user
    - Outpus BoardGame Recommendations
- Allows a user to see which BoardGames are similar to another BoardGame
    - Inputs a BoardGame
    - Ouputs a Recommended BoardGame

In [130]:
sampled_df = pd.read_csv("user_ratings_sampled.csv")

## Quickly inspect the data (EDA)

## Using the BGGId and Username_Encoded Features; Create the Sparse (Mostly NaN) User-Item Matrix via pivot table

## Perform SVD, then recostruct the User-Item Matrix

## User - User Colaborative Filtering

In [131]:
# Compute cosine similarity between users


# Convert back to a DataFrame for ease of use

In [132]:
# View your user similarity matrix as a DataFrame

In [133]:
# Save the user similarity matrix to csv

## Item - Item Colaborative Filtering

In [134]:
# Compute cosine similarity between items


# Convert to a DataFrame for ease of use

In [135]:
# View your user similarity matrix as a DataFrame

In [136]:
# Save the user similarity matrix to csv